.search {
  margin: 20px 0;
}

.search input {
  width: 40%;
  font-size: 18px;
  line-height: 1.5;
}

.user {
  width: 50%;

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-around;

  font-size: 18px;
  cursor: pointer;
}

.user:nth-child(2n + 1) {
  background-color: cadetblue;
}

.user:nth-child(2n) {
  background-color: lightpink;
}

.user__image {
  width: 50px;
  height: 50px;
}

.user__name {
  width: 200px;
}
